# Public Google OAuth 2.0 Web client ID. This is not a client secret.
# Authorize https://keyneom.github.io as a JavaScript origin in Google Cloud.
VITE_GOOGLE_WEB_CLIENT_ID=000000000000-example.apps.googleusercontent.com
